* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    min-height:100vh;
    background-color:black;
    color:white;
}

.btn-div {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    min-height:100px;
    width:min(150vw, 550px);
    background-color:rgb(241, 206, 206);
    justify-content: center;
    align-items: center;
    padding:30px;
    border-radius:20px;
}

h1 {
    font-size:3rem;
    padding:20px;
}

.input-label, #result {
    color:black;
    font-size:1.3rem;
    padding-right:25px;
    padding-left:25px;
    text-align:center;
}

.input-label{margin-bottom:20px;}
#result{margin-top:20px;}

#text-input {
    height:35px;
    width:300px;
    margin-right:30px;
    text-align:center;
    border:none;
    border-radius:5px;
}

#check-btn{
    border:none;
    font-size:1.2rem;
    width:100px;
    height:35px;
    text-align:center;
    line-height:35px;
    font-weight:bold;
    border-radius:5px;
    min-width:100px;
    transition: all 0.4s ease;
    background-color:white;
    color:black;
}

#check-btn:hover {
    background-color:rgb(232, 177, 177);
    color:black;
    cursor: pointer;
}

.desc-div{
    text-align:center;
    font-size:1.3rem;
    padding:30px;
    margin-top:30px;
    background-color:rgb(39, 39, 108);
    color:white;
    min-height:100px;
    width:min(150vw, 550px);
    border-radius:20px;
}

.hidden {
    display:none;
}